
#wrraper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*
    begin header ----------------------------------------->
*/

/*#header {*/
/*    background: rgba(50, 50, 50, 0.5);*/
/*    height: 200px;*/

/*}*/

/*#header .contains {*/
/*    display: flex;*/
/*    align-items: center;*/

/*    flex-direction: row;*/
/*    height: 100%;*/
/*}*/

/*#header .contains .title {*/
/*    background: #e5e9167a;*/



/*    height: 100%;*/
/*    width: 60%;*/
/*}*/

/*#header .contains .title-img {*/
/*    background: #dc31bc96;*/

/*    height: 100%;*/
/*    width: 25%;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#header .contains .title-img .img1 {*/

/*    background: #cc5252;*/
/*    border-radius: 15%;*/


/*    width: 150px;*/
/*    height: 150px;*/
/*    !* 무한 회전 애니메이션 *!*/
/*    !**/
/*    rotate_image 라는 이름을 가진 키프레임을 실행시켜라*/
/*    10s : 10초에 한번씩 (animation-duration)*/
/*    linear : 동일한 속도로 (animation-timing-function)*/
/*    */
/*    animation: rotate_image 10s linear infinite;*/
/*    transform-origin: 50% 50%;*/
/*    !* ----------------------- *!*/
/*}*/

/*#header .contains .sub-img {*/
/*    background: #73ee4a36;*/

/*    height: 100%;*/
/*    width: 15%;*/
/*}*/




/*
    end header ----------------------------------------->
*/



/*
    begin main ----------------------------------------->
*/

#main {
    display: flex;
    flex-direction: row;

    height: 1080px;
}

#main .contains {
    display: flex;

    width: 80%;
    height: 100%;
    padding: 0 20px;

    align-items: center;
    /*background: rgba(50, 50, 50, 0.5);*/
}


#main .contains .contents {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;


}

#main .contains .contents .name-container {
/*indexl-login.css 에 만들어둠*/
}

/*게임박스 3개 css*/
#main .contains .contents .main-game{

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
}
#main .contains .contents .main-game div{
        display: flex;
        justify-content: normal;
        justify-items: end;

}

#main .contains .contents .main-game .game-nav .nav  {
        /*position: absolute;*/

        display: flex;
        width: 100%;
        height: 400px;
        margin: 40px 0px;

        border-radius: 20px;

}



#main .contains .contents .main-game .game-nav .nav .game {
    /*position: absolute;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border: 1px solid #000;
    /*border-radius: 20px;*/

    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main .contains .contents .main-game .game-nav .nav .game figure{
    display: grid;
    grid-template: "stack";

    width: 100%;
    height: 100%;
    cursor: pointer;


}
#main .contains .contents .main-game .game-nav .nav .game figure > * {
    padding: 0;
    margin: 0;
    grid-area: stack;
}
#main .contains .contents .main-game .game-nav .nav .game > li {
    list-style: none;
}


#main .contains .contents .main-game .game-nav .nav .game  figure > img{

    width: 100%;
    height: 100%;

    /* 사진 사이즈에 따라 바꿔줘야됨*/
    object-fit: fill;
}

#main .contains .contents .main-game .game-nav .nav .game  figure > figcaption{
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: rgba(0,0,0,0.5);
    transition: opacity 1s;

    color: #fff;
    text-align: center;
    align-content: center;
    line-height: 200px;
}
#main .contains .contents .main-game .game-nav .nav .game  figure:hover > figcaption{
    opacity: 1;
}

    /* button css */
button{
    all: unset;
}
#main .contains .contents .main-game .game-nav-sub {
        width: 50%;
        height: 100px;

        margin-left: 25%;
        display: flex;

        background: indianred;
}
#main .contains .contents .main-game .game-nav-sub .nav-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main .contains .contents .main-game .game-nav-sub .nav-sub .btn {
        width: 200px;
        height: 50%;
        display: flex;
        justify-content:space-around;
        margin: auto;
        cursor: pointer;

        border: 2px solid #000;
}

#main .contains .contents .nav-sub .start-btn {


}

#main .contains .contents .nav-sub .info-btn {


}


/* 광고 --------------- */

#main .banner2 {
    background: rgba(100, 100, 100, 0.5);
    width: 15%;
}

#main .banner1 {
    background: rgba(100, 100, 100, 0.5);
    width: 15%;
}

/* 광고 --------------- */




/*
    end main ----------------------------------------->
*/


/*
   begin footer ----------------------------------------->
*/

/*#footer {*/
/*    background: rgba(50, 50, 50, 0.5);*/

/*    height: fit-content;*/
/*}*/

/*#footer .contains {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    height: 200px;*/

/*}*/

/*#footer .contains .title {*/
/*    background: rgba(100, 100, 100, 0.1);*/


/*    height: 80%;*/
/*    width: 100%;*/
/*}*/

/*#footer .contains .title .nav {*/
/*    display: flex;*/
/*    align-items: center;*/

/*    height: 100%;*/
/*}*/

/*#footer .contains .title .nav .game {*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    position: relative;*/
/*}*/

/*#footer .contains .title .nav .game .img {*/
/*    width: 100%;*/
/*    height: 80%;*/

/*    position: relative;*/
/*}*/

/*#footer .contains .title .nav .game .img .common {*/

/*    width: 150px;*/
/*    height: 150px;*/


/*    position: absolute;*/
/*    top: -35px;*/
/*    right: 130px;*/

/*    background: url("/main/img/footer-img.png") no-repeat center / cover;*/

/*    !* 무한 회전 애니메이션 *!*/
/*    !**/
/*    rotate_image 라는 이름을 가진 키프레임을 실행시켜라*/
/*    6s : 6초에 한번씩 (animation-duration)*/
/*    linear : 동일한 속도로 (animation-timing-function)*/

/*    animation: rotate_image 6s linear infinite;*/
/*    transform-origin: 50% 50%;*/
/*    !* ----------------------- *!*/
/*}*/

/*#footer .contains .title .nav .game .img .common:hover {*/
/*    transform: scale(1.2);*/
/*}*/

/*#footer .contains .title .nav .game .sub-title {*/
/*    font-weight: 700;*/
/*    font-size: 1.2em;*/
/*    color: #fff;*/

/*    position: relative;*/
/*    top: -100px;*/

/*    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);*/

/*    line-height: 1.2;*/

/*}*/

/*#footer .contains .title .nav .game .sub-title span {*/
/*    color: #000;*/
/*    font-size: 0.7em;*/
/*    display: block;*/
/*}*/

/*#footer .contains .copy-right {*/
/*    background: rgba(181, 187, 181, 0.1);*/

/*    width: 100%;*/
/*    height: 20%;*/

/*    text-align: center;*/
/*    padding: 15px;*/
/*    font-weight: 700;*/
/*    font-size: 0.8em;*/
/*    color: #000;*/
/*}*/



/*!* 무한 회전 애니메이션*/
/*@keyframes rotate_image {*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*   end footer ----------------------------------------->*/
